 * {
     margin: 0;
     padding: 0;
 }

 .bg-red {
     padding: 50px;
     background-color: rgb(206, 117, 117);
     position: sticky;
     top: 0;
 }

 .bg-blue {
     padding: 50px;
     background-color: rgb(126, 126, 224);
 }

 body {
     background: linear-gradient(135deg, #96d6c1 0%, #5434b3 50%, #7e5168 100%);
     height: 200vh;
 }

 nav ul {
     list-style-type: none;
     display: flex;
     justify-content: space-around;
     /* justify-content: space-between;
    /* justify-content: center;
    justify-content: flex-start; */
 }

 .flex-container {
     display: flex;
     justify-content: space-around;
     padding: 25px;
 }

 .flex-item {
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
     height: 300px;
     width: 30%;
     background-color: rgba(81, 166, 177, 0.5);

 }