body {
    background-color: lightgrey;
}

 nav ul {
    display: flex;
    gap: .75rem;
    list-style: none;
 }
.container {
    background-color: thistle;
}
#main {
    background-color: rgb(144, 188, 214);
}